@import 'reset.scss', 'font.scss', 'utils.scss';
@import "const.scss";

.limiter {
	width: 100%;
	margin: 0 auto;
}
.container-loginEvaluation {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background: $degrade-option1-color;
	background: -webkit-linear-gradient(-135deg,$degrade-option1-color, $degrade-option2-color);
	background: -o-linear-gradient(-135deg,$degrade-option1-color, $degrade-option2-color);
	background: -moz-linear-gradient(-135deg,$degrade-option1-color, $degrade-option2-color);
	background: linear-gradient(-135deg,$degrade-option1-color, $degrade-option2-color);
}
.wrap-loginEvaluation {
	width: 450px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0px 0px 25px 0px;
	-webkit-box-shadow: $box-shadow-container;
	-moz-box-shadow: $box-shadow-container;
	box-shadow: $box-shadow-container;
}
.loginEvaluation-form {
	width: 290px;
	margin: 0 auto;
}
.loginEvaluation-form-title {
	font-family: Poppins-Bold;
	font-size: 24px;
	color: #333333;
	line-height: 1.2;
	text-align: center;
	width: 100%;
	display: block;
	padding-top: 1.4rem;
	padding-bottom: 1.4rem;
	font-weight: bold;
}
.wrap-input_login {
	position: relative;
	width: 100%;
	z-index: 1;
	margin-bottom: 10px;
}
input {
	outline: none;
	border: none;
}
.input_login {
	font-family: Poppins-Medium;
	font-size: 15px;
	line-height: 1.5;
	color: #666666;
	display: block;
	width: 100%;
	background: #e6e6e6;
	height: 40px;
	border-radius: 10px;
	padding: 0 5px 0 45px;
}
.focus-input_login {
	display: block;
	position: absolute;
	border-radius: 15px;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 0px 0px;
}
.symbol-input_login {
	font-size: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	position: absolute;
	border-radius: 15px;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: 15px;
	pointer-events: none;
	color: #666666;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
.container-loginEvaluation-form-btn {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 0.5rem;
	cursor: pointer;
}
.loginEvaluation-form-btn {
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.5;
	color: #fff;
	text-transform: uppercase;
	width: 90%;
	height: 35px;
	border-radius: 35px;
	background: $degrade-option2-color;
	background: -webkit-linear-gradient(-135deg,$degrade-option2-color, $degrade-option1-color);
	background: -o-linear-gradient(-135deg,$degrade-option2-color, $degrade-option1-color);
	background: -moz-linear-gradient(-135deg,$degrade-option2-color, $degrade-option1-color);
	background: linear-gradient(-135deg,$degrade-option2-color, $degrade-option1-color);
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
button {
	outline: none !important;
	border: none;
	background: transparent;
}

.txt1 {
	font-family: Poppins-Regular;
	font-size: 13px;
	line-height: 1.5;
	color: #999999;
}
.txt2 {
	font-family: Poppins-Regular;
	font-size: 13px;
	line-height: 1.5;
	color: #666666;
}
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}
.wrap-heightBorder-loginEvaluation {
	height: 3.5rem;
	background: $degrade-option2-color;
	background: -webkit-linear-gradient(-135deg,$degrade-option2-color, $degrade-option1-color);
	background: -o-linear-gradient(-135deg,$degrade-option2-color, $degrade-option1-color);
	background: -moz-linear-gradient(-135deg,$degrade-option2-color, $degrade-option1-color);
	background: linear-gradient(-135deg,$degrade-option2-color, $degrade-option1-color);
	width: 100%;
}
